.btn {
  position: relative;
  z-index: 1;
  padding: 7px 15px;
  font-size: 12px;
  font-family: var(--ff-font);
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 16px;
  background-color: #009EB7;
  box-sizing: border-box;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 16px;
    background-image: linear-gradient(to right, #009eb7 0%, #80deea 100%);
    opacity: 1;
    transition: opacity .3s ease;
  }
  &:hover,
  &:focus {
    &::after {
      opacity: 0;
    }
  }
  &:disabled {
    color: #90A4AE;
    background-color: transparent;
    border: 1px solid #90A4AE;
    cursor: default;
    pointer-events: none;
    &::after {
      background-image: none;
    }
  }
}
.btn--transparent {
  padding: 10px 15px 9px;
  color: #4DD0E1;
  transition: color .3s ease;
  background-color: transparent;
  &::after {
    z-index: -2;
    width: 100%;
    height: 100%;
  }
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    border-radius: 16px;
    opacity: 1;
    transition: opacity .3s ease;
  }
  &:hover,
  &:focus {
    color: #fff;
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }
  }
}
.btn--grey {
  background-color: transparent;
  border: 1px solid #90A4AE;
  color: #90A4AE;
  transition: color .3s ease, background-color .3s ease;
  &::after {
    display: none;
  }
  &:hover,
  &:focus {
    background-color: #90A4AE;
    color: #fff;
  }
}
.btn--sign {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 50px;
  font-size: 18px;
  border-radius: 25px;
  text-transform: none;
  &::after {
    border-radius: 25px;
  }
}
.btn--w80 {
  width: 80px;
}
.btn--w180 {
  width: 180px;
}
.btn--h50 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-radius: 25px;
  &::before,
  &::after {
    border-radius: 25px;
  }
}
.btn--h40 {
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  &::before,
  &::after {
    border-radius: 20px;
  }
}
.btn--text {
  color: #4DD0E1;
  background-color: transparent;
  transition: color .3s ease;
  &::after {
    content: none
  }
  &:hover {
    color: #009EB7;
  }
}
